In [1]:
import pandas as pd
from splinter import Browser
from bs4 import BeautifulSoup as bs
import time
from webdriver_manager.chrome import ChromeDriverManager
import pymongo
import requests
from flask import Flask, render_template, redirect

In [2]:
# Set up Splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 91.0.4472
Get LATEST driver version for 91.0.4472
There is no [win32] chromedriver for browser 91.0.4472 in cache
Get LATEST driver version for 91.0.4472
Trying to download new driver from https://chromedriver.storage.googleapis.com/91.0.4472.101/chromedriver_win32.zip
Driver has been saved in cache [C:\Users\Andrew\.wdm\drivers\chromedriver\win32\91.0.4472.101]

In [3]:
# Visit site
news_url = "https://redplanetscience.com/"
browser.visit(news_url)

time.sleep(1)

 # Scrape page into Soup
html = browser.html
soup = bs(html, "html.parser")

In [4]:
news_title = soup.find('div' , class_='content_title').text
news_p = soup.find('div' , class_='article_teaser_body').text
f"{news_title}: {news_p}"

"NASA's Mars 2020 Rover Completes Its First Drive: In a 10-plus-hour marathon, the rover steered, turned and drove in 3-foot (1-meter) increments over small ramps."

In [5]:
#Image Site
image_url = "https://spaceimages-mars.com/"
browser.visit(image_url)

time.sleep(1)

html = browser.html
soup = bs(html, "html.parser")

In [6]:
full_url = soup.find('a', class_='showimg fancybox-thumbs')['href']
fullimage_url = image_url + full_url
fullimage_url

'https://spaceimages-mars.com/image/featured/mars1.jpg'

In [7]:
#Fact Site
table_url = "https://galaxyfacts-mars.com/"

In [13]:
facts = pd.read_html(table_url)
facts = facts[1]
facts = facts.rename(columns={0:"Metric", 1:"Values"})

                 Metric                         Values
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:          2 ( Phobos & Deimos )
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [23]:
facts_html = facts.to_html()
facts_html

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Metric</th>\n      <th>Values</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2 ( Phobos &amp; Deimos )</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature:</td>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [25]:
facts_html.replace('\n','')
print(facts_html)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Metric</th>
      <th>Values</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Equatorial Diameter:</td>
      <td>6,792 km</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Polar Diameter:</td>
      <td>6,752 km</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Mass:</td>
      <td>6.39 × 10^23 kg (0.11 Earths)</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Moons:</td>
      <td>2 ( Phobos &amp; Deimos )</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Orbit Distance:</td>
      <td>227,943,824 km (1.38 AU)</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Orbit Period:</td>
      <td>687 days (1.9 years)</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Surface Temperature:</td>
      <td>-87 to -5 °C</td>
    </tr>
    <tr>
      <th>7</th>
      <td>First Record:</td>
      <td>2nd millennium BC</td>
    </tr>
    <tr>
      <th>8</th>
      <td>Recorded By:</td>
      <td>Egyptian astronomers</td>
    </tr>
  </tbody>
</table>

In [27]:
#Hemispheres
hemi_url = "https://marshemispheres.com/"
browser.visit(hemi_url)

time.sleep(1)

html = browser.html
soup = bs(html, "html.parser")

In [28]:
hemis_all = soup.find("div", class_="collapsible results")
hemis = hemis_all.find_all("div", class_="item")

In [31]:
hemis_sort = []

for item in hemis:
    try:
        hemi = item.find("div", class_="description")
        title = hemi.h3.text
        hemisort_url = hemi.a["href"]
        browser.visit(hemi_url+hemisort_url)
        html = browser.html
        soup = bs(html, "html.parser")
        image_url=soup.find("li").a["href"]
        if (title and image_url):
            print(" ")
            print(title)
            print(image_url)
        hemi_dict={
            "title" : title,
            "image_url" : image_url
        }
        hemis_sort.append(hemi_dict)
        
    except Exception as ex:
        print(ex)

Cerberus Hemisphere Enhanced
images/full.jpg

Schiaparelli Hemisphere Enhanced
images/schiaparelli_enhanced-full.jpg

Syrtis Major Hemisphere Enhanced
images/syrtis_major_enhanced-full.jpg

Valles Marineris Hemisphere Enhanced
images/valles_marineris_enhanced-full.jpg

In [32]:
mars_dict = {
    "news_title" : news_title,
    "news_p" : news_p,
    "fullimage_url" : fullimage_url,
    "facts_html" : facts_html,
    "hemis_sort" : hemis_sort
}

In [33]:
mars_dict

{'news_title': "NASA's Mars 2020 Rover Completes Its First Drive",
 'news_p': 'In a 10-plus-hour marathon, the rover steered, turned and drove in 3-foot (1-meter) increments over small ramps.',
 'fullimage_url': 'https://spaceimages-mars.com/image/featured/mars1.jpg',
 'facts_html': '<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Metric</th>\n      <th>Values</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2 ( Phobos &amp; Deimos )</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature:</td>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>',
 'hemis_sort': [{'title': 'Cerberus Hemisphere Enhanced',
   'image_url': 'images/full.jpg'},
  {'title': 'Schiaparelli Hemisphere Enhanced',
   'image_url': 'images/schiaparelli_enhanced-full.jpg'},
  {'title': 'Syrtis Major Hemisphere Enhanced',
   'image_url': 'images/syrtis_major_enhanced-full.jpg'},
  {'title': 'Valles Marineris Hemisphere Enhanced',
   'image_url': 'images/valles_marineris_enhanced-full.jpg'}]}